.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  mix-blend-mode: difference;
  background-color: white;
  z-index: 8;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
}

/* * {
  cursor: none;
  pointer-events: none;
} */

